body {
  background-color: antiquewhite !important;
  user-select: none;
} 

h1 {
  text-align: center;
}

.btn {
  margin-left: 1%;
  margin-right: 1%;
}

.form-check {
  display: inline !important;
  margin-right: 1%;
}